html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 100px;
  height: 100px;
  border: 1px #ccc dotted;
  margin: 10px;
  border-radius: 50%;
  background-color: #eee;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.bumblebee {
  background-color: rgb(255, 225, 0);
}

.invisible {
  display: none;
}

.visible {
  display: block /* !important */;
  border: 3px black dashed;
  border-radius: 0;
  background-color: white;
}
